body {
	background-color: #000;
}

h2 {
	color: #fff;
	font-family: sans-serif;
}

#container {
	display: inline-flex;
	flex-wrap: wrap;
}

.light {
	width: 25px;
	height: 25px;
	margin: 15px;
	border-radius: 15px;	
}